body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

header {
    background-color: #6a0dad; /* Morado claro */
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: #000000; /* Negro */
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

main {
    padding: 2em;
}


}

.producto {
    text-align: center;
    margin-bottom: 2em;
}

.producto img {
    max-width: 100%;
    height: auto;
}
